<!DOCUMENT>
<html>
<head>
    <meta charset="UTF-8">
    <title>Docker file configuration</title>
</head>
<body>
<form method="POST">
    <p><label>Image: </label><input name="image_name"></p>
    <p><label>Github repo: </label><input name="github_repo"></p>
    <p><label>Project source folder: </label><input name="source_folder"></p>
    <p><label>Project source folder in image: </label><input name="git"></p>
    <p><label>Port: </label><input name="port"></p>
    <!--    <p><label>Sync files? </label><input type="checkbox" id="ch1" name="sync_files" onchange="sfp.disabled = !ch1.value"></p>-->
    <!--    <p><label>Sync files path: </label><input disabled id="sfp" name="sync_files_path"></p>-->
    <input type="submit" value="Deploy app">
</form>
</body>
</html>